@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"); /*for text */
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap"); /*for know yr word  font-family: "Ojuju", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ojuju:wght@200..800&display=swap"); /*for  word  font-family: "Kanit", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #B1B2FF; */
  height: auto;
  width: auto;
}
.dictionary {
  width: 100%;
  background-color: #b1b2ff;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.dict-left {
  padding: 10px 15px 15px 25px;
}
.title {
  font-size: 40px;
  color: #16065a;
  font-family: "Kanit", sans-serif;
}
.sub {
  font-size: 25px;
  padding-left: 15px;
  color: rgb(7, 108, 103);
  font-family: "Ojuju", sans-serif;
}
.dict-right {
  padding-top: 15px;
}
.nav {
  text-decoration: none;
  color: #16065a;
  font-family: "Kanit", sans-serif;
  font-size: 25px;
  padding-right: 15px;
}
.nav:hover {
  color: rgb(194, 71, 14);
  text-decoration: underline;
}

.container {
  background-color: #d2daff;
  padding: 20px;
}

.content {
  background-color: #eef1ff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  border: 2px solid #b1b2ff;
  border-radius: 5px;
  margin-right: 10px;
}

.icon {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.dict {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Word {
  background-color: #b1b2ff;
  border-radius: 5px;
  padding: 10px;
  font-family: "Kanit", sans-serif;
  margin-bottom: 20px;
}

audio {
  cursor: pointer;
}

.audio {
  background-color: #aac4ff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.define {
  background-color: #b1b2ff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

h1,
h3,
h4 {
  color: #16065a;
}

p {
  color: #16065a;
  margin-bottom: 10px;
}
